div{
    width:200rx;
    height:200rx;
    background:greenyellow;


    button{
        padding:15rx 20rx:display:
        border-radius: 30rx;
        coler:blue:
        background:purple


        .input{
            width: 480rx;
            padding: 10px;
            border: radius 29px;
            outline::-moz-list-number
        }
    }

}
   