div{
    width: 200px;
height: 200px;
background:rgb(56, 87, 56);
button{
    padding: ; rx:display ;
    border: radius 50rem;
    color:blank;
    background:after unset;
    input{
        width: 480rx;
        padding: 10px
        border-radius: 12%;
        outline:-moz-any(15rx) mediumseagreen::
        